---
layout: simplest
title: Windows
subtitle: Windows Related Things
image: win.png
order: 5
---

<h3>Random Assortment of Windows Tools</h3>

<p>Provided as is, no warranty, etc.. Probably contain malware.</p>

<ul>		
    <li><a href="https://github.com/maciakl/hwinfo">hwinfo</a> - show hardware information on the CLI.</li>
    <li><a href="http://setupassistant.org/">Luke's Setup Assistant</a> - setup and diagnostics tool for sysadmins.</li>
    <li><a href="https://maciakl.github.io/Plain-Text-Journal/">Plain Text Journal</a> - Simple journaling tool.</li>

    {% assign sorted = site.win | sort: 'title' %}
    {% for page in sorted %}
        <li>
        <a href="{{page.url}}">{{page.title}}</a> - {{page.description}}
        </li>
    {% endfor %}
</ul>

<h3>Tips and Tricks</h3>

<p>A small knowledge base of various power user and admin tricks:</a>

<ul>
    {% assign sorted = site.kb | sort: 'title' %}
    {% for page in sorted %}
        <li>
        <a href="{{page.url}}">{{page.title}}</a> - {{page.description}}
        </li>
    {% endfor %}
</ul>
